---
import { Image } from "@astrojs/image/components";
import Dots from "@/components/Dots.astro";
import Sections from "@/components/Sections.astro";
import Layout from "@/layouts/Layout.astro"
import { getWork, getWorks } from "@/libs/microcms";

export async function getStaticPaths() {
  const res = await getWorks({ fields: "id", limit: 1000 })

  return res.contents.map(({ id }) => ({
    params: {
      id
    }
  }))
}

const { id } = Astro.params;
const { title, description, images, sections, category } = await getWork(id!)
const ogpImageUrl = images[0].image.url
---

<Layout 
  title={title}
  description={description}
  imageUrl={ogpImageUrl}
  backTo={`/category/${category.name}`}
  article
  >
  <div class="space-y-6">
    <div>
      <div class="overflow-hidden border-2 md:rounded-xl">
        <div class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth">
          {
            images.map(({ image, alt }, i) => (
              <Image
                class="snap-start"
                id={`image-${i}`}
                src={image.url}
                alt={alt}
                width={image.width}
                aspectRatio="16:9"
                format="webp"
              />
            ))
          }
        </div>
      </div>
      <h1 class="mt-4 font-bold text-2xl">{title}</h1>
      <p class="mt-1">{description}</p>
    </div>
    <Dots count={4} />
    <Sections contents={sections} />
  </div>
</Layout>
