---
import Carousel from "@/components/Carousel.astro";
import Dots from "@/components/Dots.astro";
import Sections from "@/components/Sections.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllWorks } from "@/libs/newt";

export async function getStaticPaths() {
  const works = await getAllWorks();

  return works.map((work) => ({
    params: { id: work.id },
    props: work
  }));
}

const { title, description, tags, images, sections, links } = Astro.props;

const ogpImageUrl = images[0].src;
---

<Layout title={title} description={description} imageUrl={ogpImageUrl} article>
  <div class="space-y-6">
    <div>
      <Carousel images={images} />
      <h1 class="mt-4 font-bold text-2xl">
        {title}
      </h1>
      <div class="mt-1 space-x-1">
        {
          tags.map(({ name }) => (
            <a class="text-base text-sea hover:underline" href={`/tag/${name}`}>
              #{name}
            </a>
          ))
        }
      </div>
    </div>
    <Dots count={4} />
    <Sections contents={sections} links={links} />
  </div>
</Layout>
