---
import type { Work } from "@/types/work";

import Carousel from "@/components/Carousel.astro";
import Dots from "@/components/Dots.astro";
import Sections from "@/components/Sections.astro";
import Layout from "@/layouts/Layout.astro";
import { getAllWorks } from "@/libs/newt";

export async function getStaticPaths() {
  const works = await getAllWorks();

  return works.map((work) => ({
    params: { id: work.id },
    props: work
  }));
}

const { title, description, images, sections, links } = Astro.props as Work;
const ogpImageUrl = images[0].src;
---

<Layout title={title} description={description} imageUrl={ogpImageUrl} article>
  <div class="space-y-6">
    <div>
      <Carousel images={images} />
      <h1
        class="mt-4 font-bold text-2xl"
        transition:name={title}
        transition:animate="initial"
      >
        {title}
      </h1>
      <p
        class="mt-1 text-sub"
        transition:name={description}
        transition:animate="initial"
      >
        {description}
      </p>
    </div>
    <Dots count={4} />
    <Sections contents={sections} links={links} />
  </div>
</Layout>
