---
import type { WorkType } from "@/types/work";

export interface Props {
  contents: WorkType[];
}

const { contents } = Astro.props;
---

<div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
  {
    contents.map(({ id, title, shortDescription, images }) => {
      const thumbnail = images[0];

      return (
        <a class="transition hover:scale-[105%] group" href={`/works/${id}`}>
          <div
            class="aspect-video overflow-hidden rounded-md bg-neutral-200 border-neutral-200 border-2 group-hover:border-sea group-hover:shadow-lg transition-all duration-300"
            transition:name={thumbnail.src}
            transition:animate="initial"
          >
            <img src={thumbnail.src} alt={thumbnail.alt} />
          </div>
          <p class="mt-2 font-bold">{title}</p>
          <p class="text-sm text-sub">{shortDescription}</p>
        </a>
      );
    })
  }
</div>
