---
import type { Work } from "@/types/work";
import { Image } from "astro:assets";

export interface Props {
  contents: Work[];
}

const { contents } = Astro.props;
---

<div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
  {
    contents.map(({ id, title, description, images }) => {
      const thumbnail = images[0];

      return (
        <a class="transition-colors hover:text-sea" href={`/works/${id}`}>
          <div class="aspect-video overflow-hidden rounded-xl border-2">
            <Image
              src={thumbnail.image.url}
              alt={thumbnail.alt}
              width={thumbnail.image.width}
              height={thumbnail.image.height}
              format={"webp"}
            />
          </div>
          <p class="mt-2 font-bold">{title}</p>
          <p class="text-sm text-sub">{description}</p>
        </a>
      );
    })
  }
</div>
