---
import type { SectionType } from "@/types/section";
import type { WorkType } from "@/types/work";
import Link from "./Link.astro";

export interface Props {
  createdAt: string;
  contents: SectionType[];
  links?: WorkType["links"];
}

const { contents, links } = Astro.props;

const createdAtStr = new Date(Astro.props.createdAt).toLocaleDateString(
  "ja-JP",
  {
    year: "numeric",
    month: "2-digit"
  }
);

const existLinks = links && links.length > 0;
---

<div class="space-y-6">
  {
    contents.map(({ title, body }) => (
      <section>
        <h2 class="mb-2 font-bold text-xl">{title}</h2>
        <p class="text-sub whitespace-pre-line">{body}</p>
      </section>
    ))
  }
  <section>
    <h2 class="mb-2 font-bold text-xl">制作時期</h2>
    <p class="text-sub whitespace-pre-line">{createdAtStr}</p>
  </section>
  {
    existLinks && (
      <section>
        <h2 class="mb-2 font-bold text-xl">外部リンク</h2>
        <div class="md:flex md:flex-wrap space-y-1 md:space-y-0 md:space-x-4">
          {links.map(({ href, icon, label }) => (
            <Link href={href} icon={`ri:${icon}`} text={label} targetBlank />
          ))}
        </div>
      </section>
    )
  }
</div>
